<h1>Editing Employee</h1>
<%= render 'form' %>

<%= link_to 'Back to Employee record', location_employee_path(@location, @employee), :class => 'btn btn-outline-info' %>
<%= link_to 'Back to all Employees', location_employees_path(@location), :class => 'btn btn-outline-info' %>
