<h1>Editing Payment</h1>
<%= render 'form' %>

<%= link_to 'Show', location_employee_customer_orders_path(@location, @employee, @customer, @order), :class => 'btn btn-outline-info' %>
<%= link_to 'Back', location_employee_customers_path(@location, @employee, @customer), :class => 'btn btn-outline-info' %>
