<h1>Editing Product</h1>
<%= render 'form' %>

<%= link_to 'Show', location_department_product_path(@location, @location.departments, @product), :class => 'btn btn-outline-info' %>
<%= link_to 'Back', location_department_products_path(@location, @departments), :class => 'btn btn-outline-info' %>
