<h1>Editing Product</h1>
<%= render 'form' %>

<%= link_to 'Show', location_employee_customer_order_path(@location, @employee, @customer, @order), :class => 'btn btn-outline-info' %>
<%= link_to 'Back to Customers', location_employee_customers_path(@location, @employee, @customers), :class => 'btn btn-outline-info' %>
